.oscar {
  position: relative;
  margin: auto;
  padding: 120px 20px;

  &__wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__title {
    width: 70%;
    height: 196px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../images/oscar_orange_bg.png");
    background-size: 103% 103%;
    background-repeat: no-repeat;
    background-position: center;
  }

  h3 {
    width: 100%;
    margin: 0;
    padding: 0 30px 0 45px;

    font-family: "Quicksand", sans-serif;
    color: #fff;
    font-weight: 700;
    font-style: bold;
    font-size: 42px;
    line-height: 1.1;
    text-align: left;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: -2px;
  }

  &__logo {
    max-width: 30%;
    height: auto;
  }

  &::before {
    content: url("../images/Sunflower.png");
    position: absolute;
    left: 10em;
    top: 2em;
  }
  &::after {
    content: url("../images/orchid.png");
    position: absolute;
    right: -4em;
    bottom: 21em;
  }
}

@media screen and (max-width: 1024px) {
  .oscar {
    padding: 80px 20px;

    &__wrapper {
      flex-direction: column;
      gap: 30px;
    }

    &__title {
      width: 100%;
      height: auto;
      padding: 30px;
    }

    h3 {
      font-size: 32px;
      line-height: 1.2;
      text-align: center;
      padding: 0;
    }

    &__logo {
      max-width: 50%;
    }

    &::before {
      left: -2em;
      top: -2em;
    }
    &::after {
      right: -2em;
      bottom: -2em;
    }
  }
}

@media screen and (max-width: 768px) {
  .oscar {
    &__wrapper {
      width: 100%;
    }

    &__title {
      padding: 30px 80px;
    }

    h3 {
      font-size: 24px;
      padding: 0;
    }

    &::before {
      content: none;
    }
    &::after {
      content: none;
    }
  }
}

@media screen and (max-width: 512px) {
  .oscar {
    &__title {
      padding: 30px;
    }
  }
}
