@use "_burger_menu";
@use "_animations";
@use "_sections";
@use "_oscar";
@use "_footer";

#page {
  max-width: 100%;
  overflow-x: clip;
}

@supports not (overflow-x: clip) {
  #page {
    overflow-x: hidden;
  }
}
